@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap");
:root {
  --fontFamily: 'Nunito', sans-serif;
  --mainColor: #fe4c1c;
  --optionalColor: #4b5280;
  --whiteColor: #ffffff;
  --blackColor: #080e32;
  --fontSize: 16px;
  --transition: .5s;
}

body {
  padding: 30px;
  margin: 10px;
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  
}
.top{
  font-weight: 500;
  font-size: 20px;
}
/* .carousel-inner{
transform: translate3d(-2652px, 0px, 0px);
transition: all 0s ease 0s;
width: 7956px;} */



.carousel-inner{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-color: #0000004d;
background-blend-mode: color;
}

.home-area {
  position: relative;
  z-index: 1;
  background-color: #1b1464;
  padding-top: 70px;
  padding-bottom: 0px;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.single-banner-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0000004d;
  background-blend-mode: color;
}
.carousel-caption p{
  position: relative;
  bottom: 118px;
  left: 300px;
  font-size: 62px;
  margin-bottom: 20px;
}


.icon-bar{
  position: fixed;
  top: 250px;
}

.about-content .content {
  max-width: 600px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
}

.about-image {
  height: 100%;
  margin-right: 20px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-image img {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}



